
{% extends 'base.html' %}

{% block head %}
  <title>Teacher's Dashboard</title>
{% endblock %}
  
{% block body %}
<body class="shopping-cart sidebar-collapse">
  <nav class="navbar fixed-top" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <div class="navbar-brand">
          Attendance Management System
        </div>
      </div>
      <form action="/logout" method="GET">
        <button type="submit" class="btn">Log Out</button>
      </form>
    </div>
  </nav>
  <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../static/img/desk_chair.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">{{username}}'s Dashboard</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="card card-plain">
        <div class="card-body">
       
          <br />
          <div class="table-responsive">
            <table class="table table-shopping table-striped">
              <thead>
                <tr>
                  <th>Subject</th>
                  <th class="text-center">Lectures Conducted</th>
                </tr>
          <form action="/teacher_create_subject" method="GET">
 <button type="submit" class="btn">
            Add new subject
            </button>
	    </form>
              </thead>
 
                {% for subjects in subject: %}
                  <tr>
                    <td class="td-name">
                      <a href={{url_for('teacher_subject', type=attendance[subjects][0])}} > {{ attendance[subjects][0] }} </a>
                    </td>
                    <td class="td-number text-center">
                      {{ attendance[subjects][1] }}
                  </tr>
                {% endfor %}

              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}