
{% extends 'base.html' %}

{% block head %}
  <title>Forgot Password</title>
{% endblock %}

{% block body %}
<body class="login-page sidebar-collapse">
  <nav class="navbar fixed-top" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <div class="navbar-brand">
          Attendance Management System
        </div>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter" style="background-image: url('../static/img/desk_chair.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <form class="form" method="POST" action="/forgot_password">
            <div class="card card-login">
              <h2 class="card-title text-center">Change Password</h2>
              <!-- <div class="social-line">
                <a href="#pablo" class="btn">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div> -->
              <div class="card-body ">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input name="email" type="email" class="form-control" placeholder="Email..." required>
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <button type="submit" class="btn">Reset Password</button>
              </div>
            </div>
          </form>
          <form action="/" method="GET">
            <button type="submit" class="btn">Back</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}