
{% extends 'base.html' %}

{% block head %}
  <title>Create Subject</title>
{% endblock %}
  
{% block body %}
<body class="login-page sidebar-collapse">
  <nav class="navbar fixed-top" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <div class="navbar-brand">
          Attendance Management System
        </div>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter" style="background-image: url('../static/img/desk_chair.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <form class="form" method="POST" action="/teacher_create_subject">
            <div class="card card-login">
              <h2 class="card-title text-center">Create Subject</h2>
              <!-- <div class="social-line">
                <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div> -->
              <div class="card-body ">
                {% with messages = get_flashed_messages() %}
                  {% if messages: %}
                    {% for message in messages: %}
                      <h4>{{ message }}</h4>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Subject Name
                      </span>
                    </div>
                    <input name="subjectname" type="text" class="form-control" placeholder="Please enter subject name" required>
                  </div>
                </span>
               
              </div>
              <div class="card-footer justify-content-center">
                <button type="submit" class="btn">Create Subject</button>
              </div>
            </div>
          </form>
          <form action="/" method="GET">
            <button type="submit" class="btn">Back</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}