
{% extends 'base.html' %}

{% block head %}
  <title>Manage Subject</title>
{% endblock %}
  
{% block body %}
<body class="shopping-cart sidebar-collapse">
  <nav class="navbar fixed-top" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <div class="navbar-brand">
          Attendance Management System
        </div>
      </div>
      <form action="/logout" method="GET">
        <button type="submit" class="btn">Log Out</button>
      </form>
    </div>
  </nav>
  <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../static/img/desk_chair.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">{{subjectname}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="card card-plain">
        <div class="card-body">
                         
          <br />
          <div class="table-responsive">
            <table class="table table-shopping table-striped">
              <thead>
                <tr>
                  <th>Student</th>
                </tr>
          
              </thead>
              {% for name in names: %}
                  <tr>
                    <td class="td-name">
                     {{ name }}
                    </td>

                  </tr>
                {% endfor %}
              </tbody>
            </table>
<form class="form" method="POST" action="/teacher_edit_subject">
  <input name="email" type="email" class="form-control" required>
 <button type="submit" class="btn"> 
            Add New Student
</button>
</form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}