
{% extends 'base.html' %}

{% block head %}
  <title>Manage Attendance</title>
{% endblock %}  

{% block body %}
<body class="shopping-cart sidebar-collapse">
  <nav class="navbar fixed-top" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <div class="navbar-brand">
          Attendance Management System
        </div>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../static/img/desk_chair.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Add / Edit Class</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="card card-plain">
        <div class="card-body">
    
          <br />
          {% if not students: %}
            <h4>There are no students.</h4>
           {% else: %}
            <div class="table-responsive">
              <form action="/teacher_manage_attendance" method="POST">
                <h3 class="card-title">Lecture Date</h3>
                <input name="title" type="text" placeholder="Title" class="form-control" required>
                <input type="date" class="form-control" placeholder="Date" name="date" required>
                <table class="table table-shopping table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">Name</th>
		      <th class="text-center">Attendance</th>

                    </tr>
                  </thead>
                  <tbody>
       
                    {% for student in students: %}
                      <tr>
                           <td class="td-number text-center">
                          {{ names[loop.index-1] }}

                        </td>
                        <td class="td-number text-center">
                          <div class="form-check disabled">
                            <label class="form-check-label">
                              <input value="{{ student }}" class="form-check-input" type="checkbox" name="check-box">
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
  
                  </tbody>
                </table>
                <button type="submit" class="btn">Add Class</button>
              </form>  
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}